@model Northwind.Models.UsersRoles

@{
    ViewBag.Title = "Northwind - Add User to Role";
    Layout = "_Layout";
}

<p class="lead">Time to give your slaves some direction.</p>

<hr class="my-4">

<form asp-action="AddToRole" method="post">
    <div class="form-row">
        <div class="col form-group">
            <h3>User:</h3>
            @foreach (var user in Model.Users)
            {
                <br />
                <input class="form-check-input" type="radio" name="userId" id="@user.Id" value="@user.Id" />
                <label class="form-check-label" for="@user.Id">@user.UserName</label>
            }
        </div>
        <div class="col form-group">
            <h3>Role:</h3>
            @foreach (var role in Model.Roles)
            {
                <br />
                <input class="form-check-input" type="radio" name="roleName" id="@role.Id" value="@role.Name" />
                <label class="form-check-label" for="@role.Id">@role.Name</label>
            }
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Assign</button>
    <a asp-action="Index" class="btn btn-primary">Cancel</a>
</form>